.form-control::-webkit-input-placeholder {
  color: #ccc;
}

.form-control:-moz-placeholder {
  color: #ccc;
}

.form-control::-moz-placeholder {
  color: #ccc;
}

.form-control:-ms-input-placeholder {
  color: #ccc;
}

.fadebackground_to_white {
  background-color: white !important;
  -webkit-transition: background 0.5s !important;;
  -moz-transition: background 0.5s !important;;
  -o-transition: background 0.5s !important;;
  transition: background 0.5 !important;
  s
}