a {
  color: rgba(0,0,0,.84);
}

a:hover,
a:active,
a:focus {
  color: rgba(0,0,0,.84);
  cursor: pointer;
}

.text-copyright,
.read-more:hover,
.text-light,
.text-light .meta,
.text-light a {
  color: #fff !important;
}

.archive .white .social-search a,
.archive .white .social-search a:hover {
  color: #000 !important;
}

.excerpt, .search-popup input.search_field {
  color: #777;
}

.meta,
.meta a {
  color: #535353;
}

/*MAIN COLOR #03a87c, #1a1a1a*/

/*Color*/
a:hover,
a:active,
a:focus,
.mobi-menu .current-menu-item a,
.mobi-menu.act ul li.open-submenu > a,
.widget-about i,
.page-404 h1,
button.owl-prev:hover i,
button.owl-next:hover i,
.link-green, .btn-green,
.copyright a,
.entry-main-content a
 {
  color: #03a87c !important;
  fill: #03a87c !important;
}

/*Background*/
.top-scroll-bar,
.read-more:hover,
.submit-btn:hover,
.menu-toggle-icon.act:hover > span::after,
.menu-toggle-icon.act:hover > span::before,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"],
.blue {
  background-color: #03a87c !important;
}

.popup-close:hover {
  background-color: #1a1a1a;
}

.has-color-bg::after {
  background: #ff97fe;
}

.has-color-bg.color-1::after {
  background: #ff97fe;
}

.has-color-bg.color-2::after {
  background: #97f4ff;
}

.has-color-bg.color-3::after {
  background: #afff97;
}

.has-color-bg.color-4::after {
  background: #ffca97;
}

/*Border*/
.content-widget .readme:hover,
.form-control:focus,
.btn-green
 {
  border-color: #03a87c;
}

/*footer*/
.dark {
  background: #000;
}

.dark button {
  border: 1px solid rgba(255, 255, 255, 0.5);
}



[data-bs-theme=dark] a {
    color: rgba(255,255,255,.84);
}

[data-bs-theme=dark] a:hover,
[data-bs-theme=dark] a:active,
[data-bs-theme=dark] a:focus {
    color: rgba(255,255,255,.84);
    cursor: pointer;
}

[data-bs-theme=dark] .text-copyright,
[data-bs-theme=dark] .read-more:hover,
[data-bs-theme=dark] .text-light,
[data-bs-theme=dark] .text-light .meta,
[data-bs-theme=dark] .text-light a {
    color: #fff !important;
}

[data-bs-theme=dark] .archive .white .social-search a,
[data-bs-theme=dark] .archive .white .social-search a:hover {
    color: #fff !important;
}

[data-bs-theme=dark] .excerpt,
[data-bs-theme=dark] .search-popup input.search_field {
    color: #888;
}

[data-bs-theme=dark] .meta,
[data-bs-theme=dark] .meta a {
    color: #acacac;
}

/*MAIN COLOR #03a87c, #1a1a1a*/

/*Color*/
[data-bs-theme=dark] a:hover,
[data-bs-theme=dark] a:active,
[data-bs-theme=dark] a:focus,
[data-bs-theme=dark] .mobi-menu .current-menu-item a,
[data-bs-theme=dark] .mobi-menu.act ul li.open-submenu > a,
[data-bs-theme=dark] .widget-about i,
[data-bs-theme=dark] .page-404 h1,
[data-bs-theme=dark] button.owl-prev:hover i,
[data-bs-theme=dark] button.owl-next:hover i,
[data-bs-theme=dark] .link-green,
[data-bs-theme=dark] .btn-green,
[data-bs-theme=dark] .copyright a,
[data-bs-theme=dark] .entry-main-content a {
    color: #03a87c !important;
    fill: #03a87c !important;
}

/*Background*/
[data-bs-theme=dark] .top-scroll-bar,
[data-bs-theme=dark] .read-more:hover,
[data-bs-theme=dark] .submit-btn:hover,
[data-bs-theme=dark] .menu-toggle-icon.act:hover > span::after,
[data-bs-theme=dark] .menu-toggle-icon.act:hover > span::before,
[data-bs-theme=dark] button:hover,
[data-bs-theme=dark] input[type="button"]:hover,
[data-bs-theme=dark] input[type="reset"]:hover,
[data-bs-theme=dark] input[type="submit"],
[data-bs-theme=dark] .blue {
    background-color: #03a87c !important;
}

[data-bs-theme=dark] .popup-close:hover {
    background-color: #e5e5e5;
}

[data-bs-theme=dark] .has-color-bg::after {
    background: #ff97fe;
}

[data-bs-theme=dark] .has-color-bg.color-1::after {
    background: #ff97fe;
}

[data-bs-theme=dark] .has-color-bg.color-2::after {
    background: #97f4ff;
}

[data-bs-theme=dark] .has-color-bg.color-3::after {
    background: #afff97;
}

[data-bs-theme=dark] .has-color-bg.color-4::after {
    background: #ffca97;
}

/*Border*/
[data-bs-theme=dark] .content-widget .readme:hover,
[data-bs-theme=dark] .form-control:focus,
[data-bs-theme=dark] .btn-green {
    border-color: #03a87c;
}

/*footer*/
[data-bs-theme=dark] .dark {
    background: #222;
}

[data-bs-theme=dark] .dark button {
    border: 1px solid rgba(255, 255, 255, 0.5);
}
