<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On


          # OLD IZEDEBIYAT STATIC --------------------- START
        RewriteRule ^404$ 404.php [END,NC]

        RewriteRule ^son-eklenenler$ page-new.php [END,NC]
        RewriteRule ^yazarlar$ page-authors.php [END,NC]
        RewriteRule ^katilim$ page-sign-up-step-1.php [END,NC]
        RewriteRule ^yasallik$ page-legal.php [END,NC]
        RewriteRule ^gizlilik$ page-privacy.php [END,NC]
        RewriteRule ^yayin-ilkeleri$ page-sign-up-step-2.php [END,NC]
        RewriteRule ^izedebiyat$ page-izedebiyat.php [END,NC]
        RewriteRule ^sorular$ page-faq.php [END,NC]
        RewriteRule ^kunye$ page-about.php [END,NC]

        RewriteRule ^arabul$ search.php [END,NC]

        RewriteRule ^etiket/(.*)/sayfa/(.*)$ articles-by-keyword.php?etiket_slug=$1&sayfa=$2 [END,NC]
        RewriteRule ^etiket/(.*)$ articles-by-keyword.php?etiket_slug=$1 [END,NC]

        RewriteRule ^kume/(.*)/(.*)/sayfa/(.*)$ sub_category.php?ust_kategori_slug=$1&alt_kategori_slug=$2&sayfa=$3 [END,NC]
        RewriteRule ^kume/(.*)/sayfa/(.*)$ categories.php?ust_kategori_slug=$1&sayfa=$2 [END,NC]
        RewriteRule ^yazar/(.*)/sayfa/(.*)$ author.php?slug=$1&sayfa=$2 [END,NC]

        RewriteRule ^kume/(.*)/(.*)$ sub_category.php?ust_kategori_slug=$1&alt_kategori_slug=$2&sayfa=1 [END,NC]
        RewriteRule ^kume/(.*)$ categories.php?ust_kategori_slug=$1&sayfa=1 [END,NC]

        RewriteRule ^yapit/(.*)$ single.php?slug=$1 [END,NC]
        RewriteRule ^yazar/(.*)$ author.php?slug=$1&sayfa=1 [END,NC]

        RewriteRule ^siir$ categories.php?ust_kategori_slug=siir&altkate= [END,NC]
        RewriteRule ^siir/(.*)$ sub_category.php?ust_kategori_slug=siir&altkate=$1 [END,NC]

        RewriteRule ^oyku$ categories.php?ust_kategori_slug=oyku&altkate= [END,NC]
        RewriteRule ^oyku/(.*)$ sub_category.php?ust_kategori_slug=oyku&altkate=$1 [END,NC]

        RewriteRule ^roman$ categories.php?ust_kategori_slug=roman&altkate= [END,NC]
        RewriteRule ^roman/(.*)$ sub_category.php?ust_kategori_slug=roman&altkate=$1 [END,NC]

        RewriteRule ^deneme$ categories.php?ust_kategori_slug=deneme&altkate= [END,NC]
        RewriteRule ^deneme/(.*)$ sub_category.php?ust_kategori_slug=deneme&altkate=$1 [END,NC]

        RewriteRule ^elestiri$ categories.php?ust_kategori_slug=elestiri&altkate= [END,NC]
        RewriteRule ^elestiri/(.*)$ sub_category.php?ust_kategori_slug=elestiri&altkate=$1 [END,NC]

        RewriteRule ^inceleme$ categories.php?ust_kategori_slug=inceleme&altkate= [END,NC]
        RewriteRule ^inceleme/(.*)$ sub_category.php?ust_kategori_slug=inceleme&altkate=$1 [END,NC]

        RewriteRule ^bilimsel$ categories.php?ust_kategori_slug=bilimsel&altkate= [END,NC]
        RewriteRule ^bilimsel/(.*)$ sub_category.php?ust_kategori_slug=bilimsel&altkate=$1 [END,NC]
            # OLD IZEDEBIYAT STATIC --------------------- END

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
