<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    RewriteCond %{HTTP_USER_AGENT} ^.*Bytespider [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} ^.*Baidu [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} ^.*Petal [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} ^.*Semrush [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} ^.*DotBot [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} ^.*Ahrefs [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} ^.*Geedo [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} ^.*DataForSeoBot [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} ^.*MJ12bot [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} ^.*Amazonbot [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} ^.*BLEXBot [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} ^.*Pinterestbot [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} ^.*GPTBot [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} ^.*YaBrowser [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} ^.*SeekportBot [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} ^.*meta-external [NC,OR]
    RewriteCond %{REMOTE_ADDR} ^47\.76\. [NC]

    RewriteRule .*  - [L,F]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
